<!DOCTYPE html>
<html>

<head>
  <title>A&A</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/vue.min.js"></script>
  <script src="/js/vue-resource.min.js"></script>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table v-if="unitInfo" class="table table-sm table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Attacking</th>
              <th scope="col">Defending</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in unitInfo.land">
              <th>{{ item.name }}</th>
              <td><input v-model.number="battle.attacker[item.name]" type="number"></td>
              <td><input v-model.number="battle.defender[item.name]" type="number"></td>
            </tr>
            <tr v-for="item in unitInfo.air">
              <th>{{ item.name }}</th>
              <td><input v-model.number="battle.attacker[item.name]" type="number"></td>
              <td><input v-model.number="battle.defender[item.name]" type="number"></td>
            </tr>
            <tr v-for="item in unitInfo.sea">
              <th>{{ item.name }}</th>
              <td><input v-model.number="battle.attacker[item.name]" type="number"></td>
              <td><input v-model.number="battle.defender[item.name]" type="number"></td>
            </tr>
          </tbody>
        </table>
        <button v-on:click="simulateBattle" type="button" class="btn btn-success">Simulate</button>
      </div>
    </div>
  </div>
  <script src="/js/app.js"></script>
</body>

</html>
